body {
    background-color: rgb(239, 227, 232);
}

#gridContainer {
    display : flex;
    flex-wrap : wrap;
    height : 528px;
    width : 528px;
 }

.grid-cell {
   border : 1px solid rgb(208, 129, 151);
   flex : auto;
   height : auto;
   width : 32px;
   margin-right : -1px;
   margin-bottom : -1px;
  }

.grid-cell-color {
    background-color: black;
}