#gridContainer {
    display : flex;
    flex-wrap : wrap;
    height : 512px;
    width : 512px;
    border : 1px solid black;
}

.grid-cell {
   border : 1px solid black;
   flex : auto;
   height : auto;
   width : 32px;

}